body{
    height:100vh;
    width:100%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:white;
}

.secaoSite{
    width:100%;
    height: 100vh;
}

main{
    background: url(../images/home-background.png);
    background-size: cover;
    background-position: top right;
    font-weight: 500;
    color: #000000 !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(10px 10px 30px rgba(174, 174, 192, 0.4));
}
a, a:visited, a:active{ 
    text-decoration: none;
    color: #000000 !important; 
}
a:hover, a:focus{ 
    text-decoration: none;
    color:  #000000 !important; 
}

header{
    width:100%;
    background-color: white;
}

@media(min-width:992px){
    header{
        
    display:flex;
    justify-content: center;
    }
    .posicao-logo{
        order:6;
        padding-left: 45px;
    }
}
.link-navbar{
    padding-left: 40px;
}

.logoheader{
    height: 40px;
    width: 45px;
    pointer-events: none;
}

@media (max-width:970px){
    .main-banner{
        background-color: black;
    }
}
.main-banner{
    background-color: white;
    background-image: url(../images/paginainicial.png);
    background-size: cover;
    width: 70vw;
    height: 80vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
    margin-bottom: auto;
}

.logo-banner{
    height:60vh;
    position: relative;
    right: -30vw;
    top: 10vh;
}

/* CSS que atinge (principalmente) a homepage */
#secaoQuemSomos{
    font-weight: 200;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.quemsomostexto{
    width:30vw;
    display:flex;
    flex-direction: column;
}
.quemsomostexto h2{
    font-size: 50px;
    padding-bottom: 100px;
}
.quemsomostexto p, .quemsomostexto div p{
    font-size: 12px;
}
.quemsomostexto div p{
    font-style: italic;
}
.quemsomostexto div{
    width:100%;
    background-color: #4796B0;
}
.quadradoQuemSomos{
    width:100%;
}
.imgQuemSomos{
    height:auto;
    width: 52vw;
}

.cartao{
    padding-top: 10px;
}

/* CSS que atinge (principalmente) a quem somos */

#secaoServicos{
    background-image: url('../images/servicos-background.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
#secaoServicos h2{
    font-size: 6vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

.container-servicos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.cartao-servico{
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

@media(max-width:989px){
    #secaoServicos{
        height: auto;
    }
    .cartao-servico{
        padding: 2vw 5vw 2vw 5vw;
    }
}



#secaoAgendamento{
    background-color: #E0B393;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}

.grupoAgendamento{
    width: 50%;
    margin: 0;
    padding:0;
    text-align: left;
}
.formAgendamento{
    width:15vw;
    margin-left: 6vw;
}
.grupoAgendamento input,.grupoAgendamento select {
    padding:auto;
    margin:auto;
    align-self: center;
    width:387px;
    height:58px;
}

.botaoAgendamento{
    background-color: #FFE0D9;
    width:230px;
    height:55px;
    /* margin-top: 30px;
    margin-left:50%;
    margin-right:50%; */
}

.imgAgendamento{
    /* margin-top:5vh;
    height:95vh; */
    margin-left:10px;
    width:41vw;

}

/* Rodapé */
/* quadro pra minha obra de arte*/
footer{
    background-color: #4B4A4A;
    width:100%;
    height: 46vh;
    padding:1% 4%;
    color:#EFEFEF;
    margin-bottom: 0;
    border-bottom: 0;
}
footer a, footer a:visited, footer a:active, footer a:hover, footer a:focus{ 
    text-decoration: none;
    color: #EFEFEF !important; 
}

/* div que separa as colunas do texto de baixo */
.itensrodape{
    margin-bottom: 20px;
    height:80%;
    font-weight: 200;
}

/* regras pra cada quadro das colunas */
.itemrodape{
    height: 100%;
    margin: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.itemrodape h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
    width: 100%;
}
/* regras especificas pra cada coluna */
.pinimg{
    display: block;
    height:100%;
    margin-right:10px;
    margin-top: auto;
    margin-bottom: auto;
}
.contato{
    margin-bottom: 10px;
}
/* , .contato a */
.contato span, .contatoemail{
    margin-left: 10px;
}

.logorodape{
    height:220px;
    margin-top: 0;
    margin-bottom: 10px;
}
.redesocialrodape{
    justify-content: space-around;
}


/* regrinha pra deixar o texto de baixo centralizado */
.divrodape{
    text-align: center;
    margin-top: 50px;
}




/* SEÇÃO COM MEDIA QUERY */

@media (max-width:970px){
    .main-banner{
        background-image: url(../images/logo-selo-vetor\ 3central\ image.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo-banner{
        visibility: hidden;
    }
    #secaoServicos h2{
        font-size: 8vw;
        padding-top: 3vh;
    }
}